# Node.js
node_modules/

# Build output
build/
dist/
.vite/

# Environment files
.env
.env.local
.env.production

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/

# NPM / Yarn debug logs
npm-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db
